* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  caret-color: transparent;
  transition: all 0.5s ease-in-out;
  --color11: #344648;
  --color12: #64766a;
  --color13: #ed109cd8;
  --color14: #9f86c084;
}

.default-pallet {
  --color1: #5e548e;
  --color5: #9f86c084;
  --color2: #5e548e;
  --color3: #e0b1cb96;
  --color4: #fffffff6;
  --color6: rgb(255, 255, 255);
}

/*Dark Theme*/
.pallet-1 {
  --color1: #777a80;
  --color3: #5f6e6f;
  --color2: #7d8e95;
  --color5: #344648;
  --color4: #fffffff6;
  --color6: rgb(255, 255, 255);
}

.pallet-2 {
  --color1: #829e8bb0;
  --color3: #829e8b;
  --color2: #94a7ae;
  --color5: #64766a;
  --color4: #fffffff6;
  --color6: rgb(255, 255, 255);
}

.pallet-3 {
  --color1: #ffcad4c3;
  --color2: #ff0aa1d6;
  --color3: #ff5cd6;
  --color5: #ed109cd8;
  --color4: #fffffff6;
  --color6: #ffffff;
}

html {
  height: 100%;
  background-color: var(--color2);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  font-family: "Sofia Sans", sans-serif;
  color: var(--color4);
}

.main-header {
  display: flex;
  justify-content: space-between;
  /* flex-direction: row-reverse; */
  padding: 20px 40px;
  text-align: center;
  /* box-shadow: 0 1px 8px #ddd; */
}

#nav-title {
  font-family: "Rowdies", cursive;
  font-size: 30px;
  /* margin-right: 320px; */
  /* margin-left: 460px; */
  letter-spacing: 20px;
  line-height: 1;
}

.section-container {
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
}

.section-header {
  position: fixed;
  /* color: #fff; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  color: var(--color4);
  width: 400px;
  border-radius: 10px 10px 0px 0px;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.section-header span {
  font-size: 25px;
  /* color: #fff;  */
  color: var(--color6);
  padding: 10px;
}

.pending {
  background-color: var(--color5);
  height: 630px;
  width: 400px;
  border-radius: 10px;
  overflow-x: auto;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  display: none;
}

.live-area {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.add-task {
  background-color: var(--color5);
  height: 300px;
  width: 400px;
  border-radius: 10px;

  /* margin: 1%; */
}

.in-progress {
  background-color: var(--color5);
  height: 303px;
  width: 400px;
  border-radius: 10px;
  overflow-x: auto;
  overflow-y: scroll;
  white-space: nowrap;
  /* margin: 1%; */
}

.todo-container {
  display: flex;
  flex-direction: column;

  /* justify-content: space-around; */
  align-items: center;
  padding-top: 54px;
}

.todo-task {
  overflow: hidden;
  background-color: var(--color3);
  width: 330px;
  margin: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  color: var(--color4);
}

.reverse {
  flex-direction: column-reverse;
}
.time {
  font-size: 15px;
  letter-spacing: 2px;
  font-weight: 600;
}
.todo-task span label {
  font-size: 17px;
  margin: 10px;
  font-weight: 600;
}

.action-btn-container {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 10px;
  /* margin-left: 60px;; */
}

.action-btn-container svg {
  font-size: 20px;
}

.css-input {
  padding: 13px;
  font-size: 20px;
  border: none;
  outline: none;
  border-radius: 10px 10px 0px 0px;
  height: 50px;
  width: 330px;
  margin-top: 10px;
}

.testbutton {
  font-size: 14px;
  font-weight: bold;
  padding: 10px 25px;
  border-radius: 10px;
  border: none;
  margin-top: 10px;
  /* background: #63b8ee; */
  background-color: var(--color1);
  color: var(--color4);
  /* margin-top: 10px; */
}

textarea {
  resize: none;
  overflow: auto;
  font-size: 20px;
  padding: 10px 25px;
  border-radius: 0px 0px 10px 10px;
  height: 130px;
  width: 330px;
  border: none;
  outline: none;
  padding: 10px;
}

.expand-toggle {
  display: none;
  visibility: hidden;
}

.expand-label {
  padding: 0.5em;
}

.todo-task .discription {
  position: relative;
  width: 45vh;
  margin: 25px;
  /* width: 1px; */
}
.todo-task .discription .time-container {
  /* margin-top: -30px; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 170px;
}
.todo-task .discription iconify-icon {
  margin-bottom: 1px;
  margin-right: 3px;
}

.title-tools {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  /* align-items: center; */
  padding: auto;
  /* margin: auto; */
  padding-top: 20px;
}

.align {
  display: flex;
  flex-direction: row;
  gap: 5px;
  padding: 0px;
  margin: 0px;
  align-self: flex-end;
}

.red {
  width: 20px;
  height: 25px;
  border-radius: 45%;
  background-color: var(--color11);
}

.yellow {
  width: 20px;
  height: 25px;
  border-radius: 45%;
  background-color: var(--color12);
}

.green {
  width: 20px;
  height: 25px;
  border-radius: 45%;
  background-color: var(--color13);
}

.default {
  width: 20px;
  height: 25px;
  border-radius: 45%;
  background-color: var(--color14);
}
